.footballBody {
  background-color: red;
}
.backgroundtennis{
background-color: green;

}

h1 {
  color: white;
  text-align: center;
}

#RolandoPicture {
  border-radius: 50%;
}

.footballpar {
  color: white;
  margin:5px ;
  padding: 25px;
  

}

.footballpic {
  display: flex;

  flex-direction: column;
  }


.tagalighn{
  color: white;

  display: flex;
  justify-content: space-evenly;
}

.picFlex {
  display: flex;
  justify-content: space-between;
}

li {
  list-style:  none;
}